$tagcolors: (
  "objcswiftios":   #328dcb,
  "objc":           #328dcb,
  "swift":          #328dcb,
  "java":           #663399,
  "android":        #a4c639,
  "c":              #1e824c,
  "cc":             #1e824c,
  "cnet":           #49aca3,
  "python":         #cc882a,
  "javascript":     #f64747,
  "typescript":     #f64747,
  "coffeescript":   #f64747,
  "reactjs":        #f64747,
  "angularjs":      #f64747,
  "nodejs":         #f64747,
  "php":            #1ab999,
  "laravel":        #1ab999,
  "wordpress":      #1ab999,
  "ruby":           #e24e5a,
  "sql":            #446cb3,
  "htmlcss":        #d5af13,
  "html5":          #d5af13,
  "html":           #d5af13,
  "css":            #d5af13,
  "others":         #9f74ca,
);

.tag {
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
  display: inline-block;
  border-radius: 8px;
  padding: 0 5px;
  font-size: 11px;

  @each $tag, $color in $tagcolors {
    &.tag-#{$tag} {
      border-color: $color;
      color: $color;
    }
  }
}