$tagcolors: (
  "objcswiftios": #328dcb,
  "java":         #639,
  "android":      #a4c639,
  "cc":           #1e824c,
  "cnet":         #49aca3,
  "python":       #cc882a,
  "javascript":   #f64747,
  "php":          #1ab999,
  "ruby":         #e24e5a,
  "sql":          #446cb3,
  "htmlcss":      #d5af13,
  "others":       #9f74ca,
);

.tag {
  border: 1px solid #A3A3A3;
  color: #A3A3A3;
  display: inline-block;
  border-radius: 8px;
  padding: 0 5px;
  margin-top: 6px;
  font-size: 11px;

  @each $tag, $color in $tagcolors {
    &.tag-#{$tag} {
      border-color: $color;
      color: $color;
    }
  }
}