@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html.message {
  .terminal-window {
    position: relative;
    top: 50px;
    text-align: left;
    width: 640px;
    height: 350px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, .7);

    &.hidden {
      display: none;
    }

    &.maximize {
      top: 0;
      width: 100%;
      height: 100%;

      header {
        border-radius: 0;
        padding-left: 5px;
      }
    }

    header {
      display: flex;
      align-items: center;
      background: linear-gradient(to bottom, #59574f 0%, #3f3e3a 100%);
      height: 30px;
      border-radius: 8px 8px 0 0;
      padding-left: 10px;
      box-shadow: inset 0 2px 1px rgba(255, 255, 255, .1);

      .title {
        flex: 1 1 auto;
        margin-left: 15px;
        font-size: 11pt;
        font-weight: bold;
        color: #FFF;
        text-shadow: 1px 0 2px #000;
      }

      .button {
        flex: 0 0 auto;
        position: relative;
        width: 15px;
        height: 15px;
        margin-right: 2px;
        border: 1px solid #383735;
        border-radius: 8px;
        box-shadow: inset 0 2px 2px rgba(255, 255, 255, .2);
        cursor: pointer;

        &.minimize:before {
          position: absolute;
          left: 4px;
          top: 9px;
          content: " ";
          height: 1px;
          width: 7px;
          background-color: #34322E;
          box-shadow: 0 1px 1px rgba(255, 255, 255, .3);
        }

        &.maximize:before {
          position: absolute;
          left: 4px;
          top: 4px;
          content: " ";
          height: 5px;
          width: 5px;
          border: 1px solid #34322E;
          box-shadow: 0 1px 1px rgba(255, 255, 255, .3);
        }

        &.minimize, &.maximize {
          background: linear-gradient(to bottom, #777773 0%, #585855 100%);

          &:hover {
            background: linear-gradient(to bottom, #777773 0%, #808080 100%);
          }
        }

        &.close {
          background: #DE4F1D;

          &:hover {
            background: #EA6B3F;
          }

          &:before, &:after {
            position: absolute;
            left: 7px;
            top: 4px;
            content: " ";
            height: 8px;
            width: 1px;
            background-color: #34322E;
            box-shadow: 0 1px 1px rgba(255, 255, 255, .3);
          }

          &:before {
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
          }
        }
      }
    }

    .terminal {
      color: white;
      font-family: "Consolas", "Courier New", "Courier", "monospace";
      font-size: 12pt;
      background: #300A24;
      padding: 6px;
      box-sizing: border-box;
      position: absolute;
      width: 100%;
      top: 30px;
      bottom: 0;
      overflow: auto;

      &::selection {
        background: #7B5837;
      }

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #F07746;
      }

      .history {
        display: none;

        &.visible {
          display: block;

          .typer:not(.active) .typer__cursor {
            display: none;
          }
        }
      }

      .typer .typer__cursor,
      .cursor {
        display: inline-block;
        width: 8px;
        height: 17px;
        background-color: #FFF;
        animation: blink 0.5s infinite;
        opacity: 1;
      }
    }
  }
}