<!doctype html>
<html ng-app="app" class="message">

<head>
    <meta charset="UTF-8">
    <title>LiveCoding.tv Notifier</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/main.min.css">

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/ng-lodash/build/ng-lodash.min.js"></script>
    <script src="lib/angular-scroll-glue/src/scrollglue.js"></script>
    <script src="lib/angular-typer/dist/typer.min.js"></script>
    <script src="js/app.min.js"></script>
</head>

<body>
    <terminal ng-controller="terminalCtrl as terminal"
              username="terminal.user"
              output="terminal.output">
    </terminal>
</body>

</html>