<ul class="streams list-group">
    <li class="container-fluid stream animate list-group-item"
        ng-if="!streams.error"
        ng-repeat="stream in filteredStreams =
                   (streams.collection |
                   filter:streams.filter |
                   orderBy:streams.order |
                   limitTo: 40)">

        <div class="image pull-left" ng-if="streams.currentPage !== 'scheduled'">
            <div class="image-wrapper">

                <!-- This is ugly! -->
                <img class="img-responsive"
                     image-ratio="{ratio: 140/250}"
                     ng-src="https://www.liveedu.tv/{{stream.username}}/thumbnail_250_140">

                <!-- No easy way to get URLs, commenting out for now -->
                <!--<div class="items">-->
                    <!--<img class="avatar" ng-src="{{stream.avatar}}">-->
                    <!--<img class="flag" ng-src="{{stream.flag}}"-->
                         <!--ng-if="stream.flag"-->
                         <!--tooltip-placement="right"-->
                         <!--tooltip="{{stream.country}}">-->
                <!--</div>-->
            </div>
        </div>

        <div class="info">
            <div class="text">
                <h2>{{stream.title}}</h2>
                <h3>Author: {{stream.username}}</h3>

                <h3 ng-if="streams.currentPage !== 'scheduled'">
                    Views: {{stream.views}}
                </h3>

                <h3 ng-if="streams.currentPage !== 'scheduled'">
                    Difficulty: {{stream.difficulty|capitalize}}
                </h3>

                <h3 ng-if="streams.currentPage === 'scheduled'">
                    Time left: {{stream.timestamp / 1000 | humanReadableSeconds: true: "minute"}}.
                </h3>
            </div>

            <span ng-if="stream.category" class="tag tag-{{stream.category|alphanumerical|lowercase}}">{{stream.category}}</span>

            <div class="buttons">
                <i ng-click="streams.openLink(stream.url)"
                   tooltip-placement="top"
                   tooltip="Open Stream"
                   class="link fa fa-link"></i>

                <i ng-click="streams.openChat(stream.username)"
                   tooltip-placement="top"
                   tooltip="Open Chat"
                   class="link fa fa-comments"></i>

                <i class="fa link"
                   ng-if="!stream.live && streams.currentPage === 'scheduled'"
                   ng-mouseover="hoverRemind = true"
                   ng-mouseleave="hoverRemind = false"
                   tooltip-placement="top"
                   tooltip="{{streams.willRemind(stream.username) ? 'Don\'t Remind Me' : 'Remind Me!'}}"
                   ng-click="streams.toggleReminder(stream)"
                   ng-class="streams.willRemind(stream) && !hoverRemind || !streams.willRemind(stream) && hoverRemind ? 'fa-bell' : 'fa-bell-o'">
                </i>

                <i class="glyphicon favorite favorite-{{streams.isFavorite(stream.username) ? 'true' : 'false'}}"
                   ng-mouseover="hoverFav = true"
                   ng-mouseleave="hoverFav = false"
                   tooltip-placement="top"
                   tooltip="{{streams.isFavorite(stream.username) ? 'Remove Favorite' : 'Add Favorite'}}"
                   ng-click="streams.toggleFavorite(stream.username)"
                   ng-class="streams.isFavorite(stream.username) && !hoverFav || !streams.isFavorite(stream.username) && hoverFav ? 'glyphicon-heart' : 'glyphicon-heart-empty'">
                </i>
            </div>

            <span class="live pull-right" ng-if="stream.live">
                <i class="glyphicon glyphicon-record"></i>
                Live
            </span>
        </div>
    </li>

    <p ng-if="streams.error && !streams.searching">
        {{streams.error}}
    </p>

    <p ng-if="!streams.error && !filteredStreams.length && !streams.searching">
        There is nothing here! :-(
    </p>

    <p ng-if="streams.searching">
        <inline-svg src="img/loader.svg" class="loader"></inline-svg>
    </p>
</ul>