$h1-size: 48px;
$h2-size: 15px;
$h3-size: 10px;

$title-font: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: Arial;


h1, h2, h3 {
  margin: 0;
  font-family: $title-font;
}

h1 {
  border-bottom: 2px solid;
  border-color: #1976d2;
  font-size: $h1-size;
  /*font-weight: 700;*/
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}