$h1-size: 35px;
$h2-size: 14px;
$h3-size: 12px;

$font: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: Arial;

* {
  font-family: $font;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  border-bottom: 2px solid;
  border-color: #1976d2;
  font-size: $h1-size;
}

h2 {
  border-bottom: 1px solid;
  border-color: #1976d2;
  font-size: $h2-size;
  margin-top: 3px;
  margin-bottom: 6px;
}

h3 {
  font-size: $h3-size;
  color: gray;
}