h1 {
  display: inline-block;
  margin: 0 0 20px;
}

main {
  padding-left: 50px;
  padding-top: 50px;
  margin: 10px;

  .streams .stream {
    margin-bottom: 10px;
    background-color: #f1f1f1;

    &:hover .image {
      .buttons {
        display: block;

        .glyphicon {
          background-color: rgba(0, 0, 0, .5);
        }
      }

      img {
        opacity: .9;
      }
    }

    .image {
      position: relative;
      padding: 0;

      .buttons {
        display: none;

        .glyphicon {
          position: absolute;
          font-size: 20px;
          border-radius: 20px;
          padding: 5px;

          &:hover {
            background-color: purple;
          }
        }

        .glyphicon-heart, .glyphicon-heart-empty {
          left: 10px;
          top: 10px;
          color: red;
        }

        .glyphicon-remove {
          right: 10px;
          top: 10px;
          color: black;
        }

        .glyphicon-link {
          left: 10px;
          top: auto;
          bottom: 10px;
          color: blue;
        }
      }
    }
  }
}

