<div class="container">

    <div class="field row" ng-show="Object.keys(settings.opts).length > 0">
        <h1>Polling Rate:</h1>

        <div class="setting">
            Check every
            <range value="settings.opts.polling.frequencyMinutes" min="1" max="60" step="1" />
            <span>{{settings.opts.polling.frequencyMinutes*60 | humanReadableSeconds}}</span>
        </div>
    </div>

    <div class="field row">
        <h1>Show Badge:</h1>

        <checkbox active="settings.opts.badge.show"></checkbox>
    </div>

    <div class="field row">
        <h1>Persistent Badge:</h1>

        <checkbox active="settings.opts.badge.persistent"></checkbox>
    </div>

    <div class="field row">
        <h1>Show Notification:</h1>

        <checkbox active="settings.opts.notification.show"></checkbox>
    </div>

    <div class="field row">
        <h1>Notification Sound:</h1>

        <dropdown-select class="setting"
                         selected="settings.opts.notification.soundClip.selected"
                         options="settings.opts.notification.soundClip.options"
                         property="label"
                         change="settings.soundChange(value)">
        </dropdown-select>
    </div>

    <div class="field row" ng-show="settings.opts.follows.names > 0">
        <h1>Manage Favorites:</h1>

        <ul class="favorites setting">
            <li ng-if="!settings.opts.follows.names.length">You don't follow anyone!</li>

            <li ng-repeat="name in settings.opts.follows.names |
                           orderBy: name">
                <p>{{name}}</p>
                <i ng-mouseover="hover = true"
                   ng-mouseleave="hover = false"
                   tooltip-placement="left"
                   tooltip="Remove Favorite"
                   ng-click="settings.removeFavorite(name)"
                   class="glyphicon glyphicon-heart"
                   ng-class="hover ? 'glyphicon-heart-empty' : 'glyphicon-heart'">
                </i>
            </li>
        </ul>
    </div>

    <div class="field row">
        <button ng-click="settings.save()">Save</button>
        <div class="message" ng-hide="settings.success">
            Save Successful!
        </div>
    </div>

    <div class="field row">
        <h1>Feedback:</h1>

        <div class="social setting">
            <a ng-click="settings.openLink('https://www.livecoding.tv/easyfuckingpeasy/')"
               tooltip-placement="top"
               tooltip="LiveCoding.tv">
                <i class="fa fa-2x fa-code"></i>
            </a>

            <a ng-click="settings.openLink('https://github.com/easyfuckingpeasy/LiveCoding.tv-Notifier')"
               tooltip-placement="top"
               tooltip="Github">
                <i class="fa fa-2x fa-github-square"></i>
            </a>
        </div>
    </div>

</div>
