<div class="container">

    <div class="field row">
        <h1>Polling Rate:</h1>

        <div class="setting">
            Check every
            <range value="settings.opts.polling.frequencyMinutes" min="1" max="60" step="1" />
            <span>{{settings.opts.polling.frequencyMinutes*60 | humanReadableSeconds}}.</span>
        </div>
    </div>

    <div class="field row animate">
        <h1>Show Badge:</h1>

        <checkbox active="settings.opts.badge.show"></checkbox>
    </div>

    <div class="field row animate" ng-if="settings.opts.badge.show">
        <h1>Persistent Badge:</h1>

        <checkbox active="settings.opts.badge.persistent"></checkbox>
    </div>

    <div class="field row">
        <h1>Show Notification:</h1>

        <checkbox active="settings.opts.notification.show"></checkbox>
    </div>

    <div class="field row animate" ng-if="settings.opts.notification.show">
        <h1>Persistent Notification:</h1>

        <checkbox active="settings.opts.notification.persistent"></checkbox>
    </div>

    <div class="field row">
        <h1>Notification Sound:</h1>

        <dropdown-select class="setting"
                         selected="settings.opts.notification.soundClip.selected"
                         options="settings.opts.notification.soundClip.options"
                         property="label"
                         onchange="settings.soundChange(value)">
        </dropdown-select>
    </div>

    <div class="field row animate" ng-if="settings.opts.notification.soundClip.selected.value">
        <h1>Notification Sound Volume:</h1>

        <div class="setting">
            <range value="settings.opts.notification.soundClip.volume" min="10" max="100" step="5"
                   ng-mouseup="settings.soundChange()"/>
            <span>{{settings.opts.notification.soundClip.volume}}%</span>
        </div>
    </div>

    <div class="field row">
        <h1>Stream Cancellation Notice:</h1>

        <checkbox active="settings.opts.notification.dismissedReminder"></checkbox>

        <div class="setting">
            <span>Determine whether a notification is shown when a scheduled stream is dismissed as cancelled.</span>
        </div>
    </div>

    <div class="field row">
        <h1>Stream Cancellation Time:</h1>

        <div class="setting">
            Time until scheduled stream is dismissed as cancelled: <br/>
            <range value="settings.opts.polling.dismissReminderAfterMinutes" min="30" max="300" step="10"/>
            <span>{{settings.opts.polling.dismissReminderAfterMinutes*60 | humanReadableSeconds}}.</span>
        </div>
    </div>

    <div class="field row">
        <h1>Sync Settings:</h1>

        <checkbox active="settings.opts.browserSync"></checkbox>

        <div class="setting">
            <span>Synchronizes your settings between devices. This requires you to be signed into chrome.</span>
        </div>
    </div>

    <div class="field row">
        <h1>Manage Favorites:</h1>

        <ul class="favorites setting">
            <li ng-if="!settings.opts.follows.names.length">You don't follow anyone!</li>

            <li ng-repeat="name in settings.opts.follows.names |
                           orderBy: name">
                <p>{{name}}</p>
                <i ng-mouseover="hover = true"
                   ng-mouseleave="hover = false"
                   tooltip-placement="left"
                   tooltip="Remove Favorite"
                   ng-click="settings.removeFavorite(name)"
                   class="glyphicon glyphicon-heart"
                   ng-class="hover ? 'glyphicon-heart-empty' : 'glyphicon-heart'">
                </i>
            </li>
        </ul>
    </div>

    <div class="field row">
        <button ng-click="settings.save()">Save</button>
        <div class="message" ng-hide="settings.success">
            Save Successful!
        </div>
    </div>

    <div class="field row">
        <h1>Feedback:</h1>

        <div class="social setting">
            <a ng-click="settings.openLink('https://www.liveedu.tv/easyfuckingpeasy/')"
               tooltip-placement="top"
               tooltip="LiveEdu.tv">
                <i class="fa fa-2x fa-code"></i>
            </a>

            <a ng-click="settings.openLink('https://github.com/easyfuckingpeasy/LiveEdu.tv-Notifier')"
               tooltip-placement="top"
               tooltip="Github">
                <i class="fa fa-2x fa-github-square"></i>
            </a>
        </div>
    </div>

</div>
