$nav-color: #22282e;
$nav-width: 50px;
$btn-active-color: #1976d2;
$btn-hover-color: #313d43;

nav {
  position: fixed;
  top: $header-height;
  left: 0;
  width: $nav-width;
  height: 100%;
  background: $nav-color;
  border-right: 1px solid black;

  ul {
    display: inline-block;
  }

  .glyphicon {
    font-size: 20px;
    text-align: center;
    top: 0;
    padding: 0;
    line-height: 25px !important;
    color: #929497;
  }

  .active a {
    color: $btn-active-color;
  }

  .active, a:hover, a:focus {
    background-color: $btn-hover-color !important;
  }
}