<!doctype html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>LiveCoding.tv Notifier</title>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="lib/angular/angular.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-controller="streamViewerCtrl">

    <header>
        <!--<div class="pull-left">-->
            <div class="search pull-left">
                <input type="text" ng-model="filterInput" placeholder="filter"/>

                <i class="glyphicon" ng-class="filterInput ? 'glyphicon-remove' : 'glyphicon-search'"></i>
            </div>
        <!--</div>-->

        <!--<div class="pull-right">-->
            <!--<i class="glyphicon glyphicon-log-in"></i>-->
            <!--<i class="glyphicon glyphicon-refresh"></i>-->
            <!--<i class="glyphicon glyphicon-cog"></i>-->
        <!--</div>-->
    </header>

    <nav>
        <ul class="nav">
            <li ng-class="{active: category == 'follow'}">
                <a href="#" class="glyphicon glyphicon-heart" ng-click="category = 'follow'"></a>
            </li>
            <li ng-class="{active: category == 'language'}">
                <a href="#" class="glyphicon glyphicon-tags" ng-click="category = 'language'"></a>
            </li>
            <li ng-class="{active: category == 'country'}">
                <a href="#" class="glyphicon glyphicon-globe" ng-click="category = 'country'"></a>
            </li>
        </ul>
    </nav>

    <main>
        <h1>{{category}}</h1>

        <ul class="streams list-group">
            <li class="container stream list-group-item"
                ng-repeat="stream in streams |
                filter:filter |
                orderBy:stream.views">

                <div class="image col-xs-5">
                    <i class="glyphicon" ng-class="stream.favorite ? 'glyphicon-heart' : 'glyphicon-heart-empty'"></i>
                    <i class="glyphicon glyphicon-remove"></i>
                    <!--<a class="glyphicon glyphicon-link" href="{{stream.url}}"></a>-->

                    <img class="img-responsive" src="https://www.livecoding.tv/video/livestream/easyfuckingpeasy/thumbnail_250_140/" />
                </div>

                <div class="col-xs-7">
                    <h2>{{stream.title}}</h2>
                    <h3>{{stream.name}}</h3>
                    <!--<h3>{{stream.country}}</h3>-->
                    <!--<h3>{{stream.language}}</h3>-->
                    <!--<h3>{{stream.viewers}}</h3>-->

                    testtestetsset

                    <div class="tags">
                        <span ng-repeat="tag in stream.tags">{{tag}}</span>
                    </div>
                </div>
            </li>
        </ul>

    </main>

    <footer>
    </footer>
</body>

</html>