<!doctype html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>LiveCoding.tv Notifier</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" href="lib/bootstrap-css-only/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="css/main.min.css">

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script src="lib/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="js/app.min.js"></script>
</head>

<body>

    <header ng-controller="filterCtrl as filter">
        <div class="search pull-left">
            <input type="text" ng-model="filter.input" ng-change="filter.inputChanged()" placeholder="Filter"/>

            <i class="glyphicon glyphicon-remove"
               ng-if="filter.input"
               ng-click="filter.clear()"></i>

            <i class="glyphicon glyphicon-search"
               ng-if="!filter.input"></i>
        </div>

        <div class="options pull-right">
            <!--<select ng-model="filter.difficulty" ng-change="filter.difficultyChanged()">-->
                <!--<option ng-repeat="difficulty in filter.difficulties"-->
                        <!--value="{{difficulty.value}}">{{difficulty.label}}</option>-->
            <!--</select>-->

            <dropdown-select selected="filter.difficulty"
                             options="filter.difficulties"
                             property="label"
                             placeholder="Any Difficulty">
            </dropdown-select>

            <dropdown-select selected="filter.category"
                             options="filter.categories"
                             property="label"
                             placeholder="Category">
            </dropdown-select>

            <!--<select ng-model="filter.category" ng-change="filter.categoryChanged()">-->
                <!--<option ng-repeat="category in filter.categories"-->
                        <!--value="{{category.value}}">{{category.label}}</option>-->
            <!--</select>-->
        </div>
    </header>

    <nav ng-controller="navCtrl as nav">
        <ul class="nav top">
            <li ng-class="{active: nav.page('following')}"
                tooltip-placement="right"
                tooltip="following">

                <a href="#/following" class="glyphicon glyphicon-heart"></a>
            </li>

            <li ng-class="{active: nav.page('livestreams')}"
                tooltip-placement="right"
                tooltip="livestreams">

                <a href="#/livestreams" class="glyphicon glyphicon-record"></a>
            </li>

            <li ng-class="{active: nav.page('videos')}"
                tooltip-placement="right"
                tooltip="videos">

                <a href="#/videos" class="glyphicon glyphicon-expand"></a>
            </li>

            <li ng-class="{active: nav.page('scheduled')}"
                tooltip-placement="right"
                tooltip="scheduled">

                <a href="#/scheduled" class="glyphicon glyphicon-paste"></a>
            </li>
        </ul>

        <ul class="nav bottom">
            <li ng-if="false"
                tooltip-placement="right"
                tooltip="login">

                <a href="" class="glyphicon glyphicon-log-in"
                   ng-click="nav.login()"></a>
            </li>

            <li tooltip-placement="right"
                tooltip="refresh">

                <a href="" class="glyphicon glyphicon-refresh"
                   ng-click="nav.refresh()"></a>
            </li>

            <li ng-class="{active: nav.page('settings')}"
                tooltip-placement="right"
                tooltip="settings">

                <a href="#/settings" class="glyphicon glyphicon-cog"></a>
            </li>
        </ul>
    </nav>

    <main>
        <article ng-view></article>
    </main>

    <footer>
    </footer>
</body>

</html>